<h1>Подростковый клуб Храма Космы и Дамиана</h1>

<p>
  Ура!! Вы записали участника в лагерь на сайте kosmalager.ru.

  Комментарии к анкете:<br/>
  <%=@notes%><br/>

  Перейти к анкете:<br/>
  <%=@url%>
</p>


