<h1>Подростковый клуб Храма Космы и Дамиана</h1>

<p>
Ваша анкета зарегистрированна! <br/>

<br/>Напоминаем, что  необходимо внести оплату.
  <br/>

  <%if @notes!=nil%>
  Комментарии к анкете:<br/>
  <%=@notes%><br/>
  <%end%>

  Перейти к анкете:<br/>
  <%=@url%>
</p>


