<h1>Подростковый клуб Храма Космы и Дамиана</h1>

<p>
  Ура!! Ваша анкета проверена и подтверждение оплаты получено! Вы записали участника на выезд на сайте kosmalager.ru.<br/>

  <%if @notes!=nil%>
  Комментарии к анкете:<br/>
  <%=@notes%><br/>
  <%end%>

  Перейти к анкете:<br/>
  <%=@url%>
</p>


