









<div class="blog__hightlight">
	<p>
		 Предоставляя свои персональные данные Пользователь даёт согласие на обработку, хранение и использование своих персональных данных на основании ФЗ № <nobr>152-ФЗ</nobr> «О персональных данных» от 27.07.2006 г. в следующих целях:
	</p>
	<ul>
		<li>Осуществление клиентской поддержки</li>
		<li>Получения Пользователем важной информации</li>
		
	</ul>
	<p>
		 Под персональными данными подразумевается любая информация личного характера, позволяющая установить личность Пользователя такая как:
	</p>
	<ul>
		<li>Фамилия, Имя, Отчество</li>
		<li>Дата рождения</li>
		<li>Контактный телефон</li>
		<li>Адрес электронной почты</li>
		<li>Почтовый адрес</li>
	</ul>
	<p>
		 Персональные данные Пользователей хранятся исключительно на электронных носителях и обрабатываются с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства.
	</p>
	<p>
		 Веб-ресурс обязуется не передавать полученные персональные данные третьим лицам, за исключением следующих случаев:
	</p>
	<ul>
		<li>По запросам уполномоченных органов государственной власти РФ только по основаниям и в порядке, установленным законодательством РФ</li>
		
	</ul>
	<p>
		 Веб-ресурс оставляет за собой право вносить изменения в одностороннем порядке в настоящие правила, при условии, что изменения не противоречат действующему законодательству РФ. Изменения условий настоящих правил вступают в силу после их публикации на Сайте.
	</p>
</div>


