<div class="container">
  <div class="row">
    <div class="col-sm">
       </div>
          <div class="ol-lg-10 col-md-10 col-sx-4 col-sm-4 mx-auto">
            <a class="nav-link" href=<%=new_user_form_url(current_user.id)%>><button type="button" class="btn btn-outline-primary">Запись в лагерь</button></a>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Иванов Иван Иваныч</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>



           
          </div>
    <div class="col-sm">
       </div>
  </div>
</div>