   <!-- styles
   ================================================== -->
   <section id="styles">
        
       <div class="row narrow add-bottom text-center">

       <div class="col-twelve tab-full">

           <h1>Летний выезд!</h1>

            <p class="lead">В этом году после вынужденного перерыва приглашаем ваших детей и детей ваших друзей от 12 до 18 лет принять участие в летней встрече подросткового клуба Храма свв. Космы и Дамиана в Шубине.<br/>Время проведения:  с 27 июня (воскресенье) по 04 июля (воскресенье). г.<br/>
            На выезде интересная программа, внимательные вожатые.</p>   
          <br/>

        </div>

      <div class="row half-bottom">
          <div class="col-six tab-full">
            <p><img src="/images/camp1.jpg"></p>
        </div>
         <div class="col-six tab-full">
            <p><img src="/images/camp2.jpg"></p>
        </div>
      </div> <!-- end row -->


      За время смены складывается доверительная атмосфера, в которой ведущие и участники могут поделиться друг с другом своим житейским и духовным опытом. 
       
      <br/>Проживание в корпусах.

      <br/>В программе: тематические мастерские, обсуждение Евангелия, встреча со священником, игры, спорт, танцы, кружки и многое другое.
       
      <br/>Запись на программу по телефону 8 (925) 467-8332

      <br/>Задать вопросы можно по телефону 8 903 534 4131 
      (Петр Дмитриевский, руководитель выезда)
      <br/><br/>
 
      <div class="row half-bottom">
          <div class="col-six tab-full">
            <p><img src="/images/camp3.jpg"></p>
        </div>
         <div class="col-six tab-full">
            <p><img src="/images/camp4.jpg"></p>
        </div>
      </div> <!-- end row -->

     <a href="http://www.club.damian.ru/camp.htm">Рассказы о выездах прошлых лет здесь.</a>,

      </div>

    

  
 

    </section> <!-- end styles -->  