<p>Здравствуйте <%= @resource.email %>!</p>

<p>Кто-то сделал запрос на смену Вашего пароля, если это были Вы, то перейдите по ссылке ниже:.</p>

<p><%= link_to Изменить пароль, edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не делали запрос на смену пароля, то просто игнорируйте это письмо.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
